.contact-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  background: white;
  padding: 40px;
  width: 100%;
  max-width: 420px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  animation: fadeUp 0.6s ease;
  margin-top: 50px;

}

.contact-card h2 {
  color: #01052c;
  margin-bottom: 8px;
}

.contact-card p {
  color: #666;
  margin-bottom: 20px;
}

.contact-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-card input,
.contact-card textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.contact-card input:focus,
.contact-card textarea:focus {
  outline: none;
  border-color: #1b2688;
}

.contact-card button {
  background: #01052c;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.contact-card button:hover {
  background: #1b2688;
}

.contact-msg {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
